/*All pages CSS */

@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Montserrat|Quicksand&display=swap');


html, body {
  min-height: 100%;
}

body{
  background-image: linear-gradient(120deg,#f6d365,#fda085);
  overflow-x:hidden;
  font-family: 'Quicksand', sans-serif;
  color: #17252A;
  /* background-color: #e9ecef; */
  background-color: white;
}

/* End of all pages CSS */

/* Index Page Only CSS */
.index-head {
  position: relative;
  overflow: hidden;
  padding-top: 60px;

  /* padding-top: calc(7rem + 72px); */
  padding-bottom: 7rem;
  background-image: linear-gradient(
      39deg,
      rgba(179, 137, 255, 0.4) 5%,
      rgba(195, 124, 254, 0.3) 12%,
      rgba(83, 226, 71, 0.3) 89%
    ),
    url("img/map.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  padding-bottom: 200px;
}

.index-body {
  background-image: none;
}

.index-welcome {
  padding-top:90px;
}

/* .index-welcome{
  width:100%;
  max-width: 100%;
  position: absolute;
  top: 40%;
  z-index:1;
  color:white;
} */

.index-welcome h1{
  font-size: 3.8 rem;
  font-weight: 700;
  letter-spacing: .2rem;
  text-shadow: .1rem .1rem .8rem #03161B;
  /* padding-bottom: 1.6rem; */
}

.index-welcome h3{
  font-style: 2rem;
  text-shadow: .1rem .1rem .8rem #03161B;
  padding-bottom: 1rem;
}
/* .index-welcome form{
  padding-bottom: 1.3rem;
  border-width: medium;
  border-radius: 0;
} */

.index-welcome a:hover {
  color: black;
}

.left-divider {
  padding: 80px 0;
}

.left-divider img {
  width: 60%;
}

.red {
  color: #ff676a;
  font-weight: bolder;
}

.table-abc{
  font-size: 24px;
}

.about-desc {
  /*padding-left: 300px;
  padding-right: 300px;*/
  /*margin-left: 300px;
  margin-right: 300px;*/
}

/* .nav-link:active {
  color: white;
} */
/* End of Index page CSS */

/* Start of navbar CSS */

.navbar{
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background-color: transparent!important;
}

.navbar-brand img{
  height: 5rem;
  margin-left:-0px!important;
}

.navbar-nav li{
  padding-right: .7rem;
  font-family: 'Montserrat', sans-serif;
}

/* .navbar-dark .navbar-nav .navbar-link{
  color:white;
  padding-top: .8rem;
} */

.navbar-dark .navbar-nav .navbar-link.active,
.navbar-dark .navbar-nav .navbar-link:hover{
  color:rgb(255, 255, 255);
}

/* End of Navbar CSS */

/* Text, buttons and title CSS on index, ticketpage */

.prim-button{
  /* border-width: medium; */
  /* border-radius: 0; */
  padding: .9rem 1.3rem;
  font-size: 1.1rem;
  margin-left: 1rem;
  margin-top: 10px;
}

.prim-button {
  text-align: right;
}

.intructions{
  color: rgb(255, 132, 132);
}
/* .btn-secondary {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 1rem;
  border-color: #1EBBA3;
  background-color: #1EBBA3;
  color: white;
}
.btn-secondary:hover,
.btn-secondary:focus {
  border-color: #189582;
  background-color: #189582;
  color: rgb(0, 0, 0);
} */

/* End of Text, buttons and title CSS on index, ticketpage */

/* Start of Map CSS */

#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 90%;
  margin: 0;
  padding: 0;
}

/* End of Map CSS */

/* Etc CSS */
.narrow {
  width: 75%;
  margin: 1.5rem auto;
  padding-top: 2rem;
}
.narrow h1 {
    font-size: 2.4rem;
  }

/* End of Etc CSS */

/* Start Ticket Page CSS */


/* .storeInfo {
  width:100%;
  max-width: 100%;
  position: absolute;
  top: 25%;
  z-index:1;
  color:white;
}

.storeInfo p{
  font-size: 24px;
  font-style: 2rem;
  text-shadow: .1rem .1rem .8rem #03161B;
} */

.genTicketBox{
  width:100%;
  max-width: 30%;
  position: absolute;
  top: 58%;
  z-index:1;
}

/* #storeName {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .8rem #03161B;
  padding-bottom: 1.6rem;
}

#storeAddress{
  font-size: 30px;
  font-style: 2rem;
  text-shadow: .1rem .1rem .8rem #03161B;
  padding-bottom: 1rem;
} */

label{
  text-align: left!important;
}
/* 
#cover-caption {
  width: 100%;
  position: absolute;
  z-index: 1;
  top:60%;
} */

#textpage form:before {
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.3);
  z-index: -1;
  border-radius: 10px;
}

.position-table {
  color:rgb(0, 0, 0);
  margin: auto;
  width: 50% !important;
}

.position-table th {
   text-align: center;
}

#table-area{
  width: 100%;
  position: absolute;
  z-index: 1;
  top:30%;
}
/* End of Ticket Page CSS */

/* Store Page css */
#store-body {
  background-color: aliceblue;

}

.search-bg {
  background-color: rgba(3, 22, 27, 0.8);
  padding: 10px;
}

/* .form-control {
  border: 3px solid #a0dcf361;
} */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 126px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color:rgba(3, 22, 27, 0.8);
  
}

.foot-text {
  color: white;
}


/* Position Page CSS */ 

.position-table td{
  text-align:center;
}


.AuthenicateCustomerBox{
  padding-top: 10px;
 
}
/* End Store Page css */


/* Store Entry css */


.form-navbar {
  background-color: #f8f9fa!important;

}

.form-group .form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-group{
  margin-bottom: 25px;
}

.form-group input {
  height: 42px;
  border-radius: 5px;
  border:0;
  font-size: 18px;
}

.new-store-form{
  padding:100px;
  padding-top: 220px;
}

.btn-form {
  width:40%;
  margin: 5px 0 25px;
}

.btn-form {
  /* background-color: yellowgreen;
  color: white; */
  font-size: 19px;
  padding: 7px 14px;
  border-radius: 5px;
  margin-top:1rem;
}


.store-name {
  padding-top:
    10%;
  
}

.success-text {
  padding-top: 17%;
}

.btn-ticket {
  color: #fff;
    background-color: #fb7a7b;
    border-color: #fc797b;
}



/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
