<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Queue Up</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="index-body" data-spy="scroll" data-target="#navbarResponsive" id="indexBody">
<div id="home">

	<section>
      <header class="index-head text-center text-white">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
          <a class="navbar-brand" href="/"><img src="static/img/logo2.png" height="100px">Queue Up</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                  <li class = "nav-item active">
                    <a class=" nav-link" href="/myStore">My Store</a>
                  </li>
                </ul>
            </div>
        </nav>


        <div class="index-welcome">
          <h1>Welcome to Queue Up!</h1>
			    <h4>Queue Up is a grocery store queue management</h4>
			    <h4>platform for mitigating large crowds and practicing safe</h4>
			    <h4>distancing outside and inside the store.</h4>
			      <button type="button" class="prim-button btn btn-light btn-lg" onclick="location = '/map'">Find a Store</button>
            <button type="button" class="prim-button btn btn-light btn-lg" onclick="location = '/storeEntry'">Register Your Store</button>
        </div>
      </header>
	</section>
	
	 <div class="left-divider">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <img src="static/img/icon1.png" width="100px" />
              <!-- <h3></h3> -->
              
          </div>
          <div class="col-sm-6 text-center">
            <h2 class="red">Here is how it works:</h2>
              <table class="table table-sm text-center">
                <tbody >
                  <tr class = "table-abc">
                    <th scope="index-row text-right">1</th>
                    <td >Select a grocery store you want to go to.</td>
                  </tr>
                  <tr class = "table-abc">
                    <th scope="row">2</th>
                    <td >Get a ticket
                      delivered to your phone.</td>
                  </tr>
                  <tr class = "table-abc">
                    <th scope="row">3</th>
                    <td  colspan="2">You will get notified when you can go
                      in!</td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>

<!--- Script Source Files -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>
<!--- End of Script Source Files -->

</body>
</html>
