<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Store</title>
  <!-- <style></style> -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body id="myStore-body"data-spy="scroll" data-target="#navbarResponsive">
  <div id="home">
    <nav class="form-navbar navbar navbar-expand-md navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="/"><img src="static/img/logo2.png">Queue Up</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class = "nav-item active">
                  <a class="nav-link" href="#">My Store</a>
                </li>
            </ul>
        </div>
    </nav>
  </div>
<!--Navigation-->
        <script type="text/javascript">
          function get_id(){
            str = '/position/'+document.getElementById('inpoot').value
            window.location = str
          }
        </script>


<div class="new-store-form container">
  <h2>Enter your store ID to check your queue.</h2>
  <!-- <p>Fill out all the fields.</p> -->
  <form action="/generateStore" method="POST" name="generateStore" >
    <div class="form-group">
      <label for="store-name">Store ID:</label>
      <input id="inpoot" type="text" class="form-control" name="store_id"  placeholder="Enter Store ID" required=True>                    
    </div>
      <button type="button" class="storeentry-button btn-form btn btn-primary" onClick="get_id()">View Queue</button>
    </form>
</div>
        <!-- <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
        <div class="px-2">
          <div class="form-group">
              <label class="sr-only">Store ID:</label>
              <input id="inpoot" type="text" class="form-control" name="store_id" placeholder="Insert ID" required=True>
              <button onClick="get_id()" class="btn btn-primary btn-lg">Go</button>
          </div>
        </div>
        </div>
          </div>
    </div>
    </section> -->
<!-- <button onclick="storePage()">Hey</button> -->

<!--- Script Source Files -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>
<!--- End of Script Source Files -->

</body>
</html>
