<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Store</title>
  <!-- <style></style> -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body data-spy="scroll" data-target="#navbarResponsive">
<!-- Start Home Section-->
<!-- <div id="home"> -->

<!--Navigation-->
        <script type="text/javascript">
          function get_id(){
            str = '/position/'+document.getElementById('inpoot').value
            window.location = str
          }
        </script>

        <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
        <div class="px-2">
          <div class="form-group">
              <label class="sr-only">Store ID:</label>
              <input id="inpoot" type="text" class="form-control" name="store_id" placeholder="Insert ID" required=True>
              <button onClick="get_id()" class="btn btn-primary btn-lg">Go</button>
          </div>
        </div>
        </div>
          </div>
    </div>
    </section>
<!-- <button onclick="storePage()">Hey</button> -->

<!--- Script Source Files -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5QGPvA6uWSJVWABYg_JUp7pvwiQqauMY&callback=initMap"></script> -->
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>
<!-- <script type="text/javascript" src="{{ url_for('static', filename='position.js') }}"></script> -->
<!--- End of Script Source Files -->

</body>
</html>
