<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Store</title>
  <!-- <style></style> -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<p hidden id="id">{{ id }}</p>
<body data-spy="scroll" data-target="#navbarResponsive">
<!-- Start Home Section-->
<!-- <div id="home"> -->

<!--Navigation-->
<nav class="form-navbar navbar navbar-expand-md navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="/"><img src="../static/img/logo2.png" height="100px">Queue Up</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class = "nav-item">
            <a class="nav-link position-nav" href="/myStore">My Store</a>
          </li>
        </ul>
    </div>
</nav>

    <div class="store-name text-center">
      <div class="storeInfo">
        <h1 id="storeName"> {{ name }} </h1>
      </div>
    </div>

<!-- </div> -->

    <section id="cover" class="min-vh-100">
      <div id="table-area">
        <div class="container ">
              <table class="table table-sm position-table text-center">
                <thead>
                  <tr>
                    <th scope="col">Position</th>
                    <th scope="col">Name</th>
                    <th scope="col">Code</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td id="name1"></td>
                    <td id="code1"></td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td id="name2"></td>
                    <td id="code2"></td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td id="name3"></td>
                    <td id="code3"></td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td id="name4"></td>
                    <td id="code4"></td>
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td id="name5"></td>
                    <td id="code5"></td>
                  </tr>
                </tbody>
                </table>
        </div>
        <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
        <div class="px-2">
          <div class="form-group"> <!-- [[[[[ underneath storename centered please ]]]]] -->
            <form method="POST" class="justify-content-center">
              <label class="sr-only">Authentication Code:</label>
              <input type="text" class="form-control" name="code" placeholder="Insert code" required=True>
              <input type="submit" class="btn btn-primary btn-lg" value="Authenticate Customer"></button>
            </form>
          </div>
        </div>
        </div>
          </div>
    </div>
    </section>
<!-- <button onclick="storePage()">Hey</button> -->

<!--- Script Source Files -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5QGPvA6uWSJVWABYg_JUp7pvwiQqauMY&callback=initMap"></script> -->
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='position.js') }}"></script>
<!--- End of Script Source Files -->

</body>
</html>
