<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Store</title>
  <!-- <style></style> -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body data-spy="scroll" data-target="#navbarResponsive">
<!-- Start Home Section-->
<!-- <div id="home"> -->

<!--Navigation-->
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
	<a class="navbar-brand" href="#"><img src="static/img/logo.png"></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Page</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Page</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Page</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Page</a>
            </li>
        </ul>
    </div>
</nav>

    <div class="text-center">
      <div class="storeInfo">
        <h1 id="storeName">Store Name</h1>
      </div>
    </div>

<!-- </div> -->
    <section id="cover" class="min-vh-100">
      <div id="table-area">
        <div class="container ">
              <table class="table">
                <thead class = "thead-light">
                  <tr>
                    <th scope="col">Position</th>
                    <th scope="col">Name</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td id="name1"></td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td id="name2"></td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td id="name3"></td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td id="name4"></td>
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td id="name5"></td>
                  </tr>
                </tbody>
                </table>
        </div>
    </div>
    </section>
<!-- <button onclick="storePage()">Hey</button> -->

<!--- Script Source Files -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5QGPvA6uWSJVWABYg_JUp7pvwiQqauMY&callback=initMap"></script> -->
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='position.js') }}"></script>
<!--- End of Script Source Files -->

</body>
</html>
