<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Queue Up</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/fixed.css') }}">
</head>

<body data-spy="scroll" data-target="#navbarResponsive">
<!-- Start Home Section-->
	<input id="autocomplete" placeholder="Enter a city" type="text" />

	<table id="resultsTable">
	  <tbody id="results">
	 	 <tr><td>Address:</td></tr>
	  </tbody>
	</table> 

	<div id="map"></div>

<!--- Script Source Files -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdYXoO9zvTFGxtPxPk_tKBj5Aqwi9ttY0&libraries=places&callback=initMap" async defer></script>
	<script type="text/javascript" src="{{url_for('static',filename='js/jquery-3.3.1.min.js') }}"></script>
	<script type="text/javascript" src="{{url_for('static',filename='js/bootstrap.min.js') }}"></script>
	<script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>
	<script type="text/javascript" src="{{url_for('static',filename='maps.js') }}"></script>
<input id="pac-input" class="controls" type="text" placeholder="Search Box">
<div id="map"></div>


</body>
</html>
