<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Get a Ticket</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<!--Naviation Bar and Logo HTML-->

<body id ="gen-ticket-body"data-spy="scroll" data-target="#navbarResponsive">
  <div id="home">
    <nav class="form-navbar navbar navbar-expand-md navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="/"><img src="../static/img/logo2.png">Queue Up</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                
            </ul>
        </div>
    </nav>
  </div>
<!-- End of Navigation and logo HTML-->

  <div class="new-store-form container">
    <h2 id="storeName"></h2>
    <p id="storeAddress"></p>
    <p id='csz'></p>
    <p hidden id="id">{{ id }}</p>
    <p class="queueTime">Current Queue Size: <span id="queueSize"></span></p>
    <form action="/generateCustomer" method="POST" name="storeCustomer">
      <div class="form-row">
        <div class="col">
            <label>Enter Name:</label>
            <input type="text" class="form-control" name="custName" placeholder="Enter Name Here" required=True>
        </div>
        <div class="col">
            <label>Enter Phone Number:</label>
            <input type="tel" class="form-control" name="numb" placeholder="Ex: 215-555-5555" pattern="^\d{3}-\d{3}-\d{4}$" required>
        </div>
        <div class="form-group">
            <input id="id-form" hidden name="id" required>
        </div>
      </div>
    <button type="submit" class="storeentry-button btn-form btn btn-primary" value="Generate Ticket">Generate Ticket</button>
    </form>
  </div>












  <br>

</div>

<!--End of User Info and Submit button HTML-->
</body>

<!-- Start of Script calls -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='ticket.js') }}"></script>
<script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>

<!-- End of Script calls -->
