<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Get a Ticket</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<!--Naviation Bar and Logo HTML-->

<body id="success-body"data-spy="scroll" data-target="#navbarResponsive">
  <div id="home">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    	<a class="navbar-brand" href="/"><img src="static/img/logo2.png"></a>
    	<button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              
            </ul>
        </div>
    </nav>
  </div>

<!-- End of Navigation and logo HTML-->

  <br>
<!-- Thank you text Section -->
  <div class="success-text text-center">
    <div class="storeInfo">
      <h1 id="storeName">Thank you for using Queue Up!</h1>
      <p id="storeAddress">Check your phone for your code!<br>
        It will be sent to you in a few moments...</p> 
    </div>
<!-- End of thank you text Section-->

<!-- Beginning of User Info forms and Submit button -->
    <!-- <section id="cover" class="min-vh-100"> -->
      <div id="cover-caption">
          <div class="container">
              <div class="row text-white">
                  <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                      <div class="px-2">
                          <form action="/" class="justify-content-center">
                              <input type="submit" class="btn btn-primary btn-lg" value="Return to Start"></button>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  <!-- </section> -->
</div>

<!--End of User Info and Submit button HTML-->
</body>

<!-- Start of Script calls -->
<!-- <script type="text/javascript" src="{{ url_for('static', filename='ticketpage.js') }}"></script> -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5QGPvA6uWSJVWABYg_JUp7pvwiQqauMY&callback=initMap"></script> -->
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>

<!-- End of Script calls -->



